In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
print(city_data_df.head())

   City_ID          City Country                 Date      Lat      Lng  \
0        0       Ushuaia      AR  2021-10-11 00:20:22 -54.8000 -68.3000
1        1         Lamar      US  2021-10-11 00:24:12  33.6668 -95.5836
2        2  Krasnoselkup      RU  2021-10-11 00:24:12  65.7000  82.4667
3        3      Yar-Sale      RU  2021-10-11 00:24:13  66.8333  70.8333
4        4   Port Alfred      ZA  2021-10-11 00:24:13 -33.5906  26.8910

   Max Temp  Humidity  Cloudiness  Wind Speed
0     44.22        75          75       23.02
1     84.36        64           1       16.11
2     25.00        82          52       11.27
3     26.78        82          53        7.14
4     58.30        74          23       20.71

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# # Get the maximum temperature.
# max_temp = city_data_df["Max Temp"]
# temps = []
# for temp in max_temp:
#     temps.append(max(temp, 0))

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Lamar,US,2021-10-11 00:24:12,33.6668,-95.5836,84.36,64,1,16.11
6,6,Hilo,US,2021-10-11 00:21:34,19.7297,-155.0900,80.33,78,75,10.36
19,19,Parian Dakula,PH,2021-10-11 00:24:17,5.5567,120.7719,83.89,76,76,8.63
23,23,Namatanai,PG,2021-10-11 00:24:18,-3.6667,152.4333,84.13,70,31,3.09
26,26,Hithadhoo,MV,2021-10-11 00:24:19,-0.6000,73.0833,82.72,68,99,15.14
28,28,Laguna,US,2021-10-11 00:20:48,38.4210,-121.4238,82.49,29,1,1.99
31,31,Nimaparha,IN,2021-10-11 00:24:20,20.0667,86.0167,79.20,87,53,5.53
33,33,Kununurra,AU,2021-10-11 00:24:21,-15.7667,128.7333,85.98,62,40,5.75
51,51,Atuona,PF,2021-10-11 00:24:25,-9.8000,-139.0333,78.39,76,27,19.48
54,54,Kavieng,PG,2021-10-11 00:24:26,-2.5744,150.7967,84.13,69,54,6.33

In [22]:
preferred_cities_df.count()

City_ID       172
City          172
Country       171
Date          172
Lat           172
Lng           172
Max Temp      172
Humidity      172
Cloudiness    172
Wind Speed    172
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1           Lamar      US     84.36  33.6668  -95.5836
6            Hilo      US     80.33  19.7297 -155.0900
19  Parian Dakula      PH     83.89   5.5567  120.7719
23      Namatanai      PG     84.13  -3.6667  152.4333
26      Hithadhoo      MV     82.72  -0.6000   73.0833
28         Laguna      US     82.49  38.4210 -121.4238
31      Nimaparha      IN     79.20  20.0667   86.0167
33      Kununurra      AU     85.98 -15.7667  128.7333
51         Atuona      PF     78.39  -9.8000 -139.0333
54        Kavieng      PG     84.13  -2.5744  150.7967

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    ## Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
print(hotel_df.head(10))

             City Country  Max Temp      Lat       Lng  \
1           Lamar      US     84.36  33.6668  -95.5836
6            Hilo      US     80.33  19.7297 -155.0900
19  Parian Dakula      PH     83.89   5.5567  120.7719
23      Namatanai      PG     84.13  -3.6667  152.4333
26      Hithadhoo      MV     82.72  -0.6000   73.0833
28         Laguna      US     82.49  38.4210 -121.4238
31      Nimaparha      IN     79.20  20.0667   86.0167
33      Kununurra      AU     85.98 -15.7667  128.7333
51         Atuona      PF     78.39  -9.8000 -139.0333
54        Kavieng      PG     84.13  -2.5744  150.7967

                                           Hotel Name
1                                  Kings Inn Paris TX
6                                 Hilo Hawaiian Hotel
19
23                              Seagulls Inn Namatani
26                                  Scoop Guest House
28  Holiday Inn Express & Suites Elk Grove Central...
31                     Maa Karanjai Sweet And Hotel üè®
33                                    Hotel Kununurra
51                                        Villa Enata
54                                Nusa Island Retreat

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} ¬∞F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))